/ANN.class
/Dataset.class
/Instance$1.class
/Instance.class
/Instance1.class
/Lab2.class
/Lab3$Category.class
/Lab3.class
/NNImpl.class
/Node.class
/NodeWeightPair.class
/Strian.class
/data.class
/dfvec.class
/netPerceptron.class
/oneLayer.class
/pair.class
